body {
  margin: 0px;  
}

@font-face {
  font-family: 'Gora-Free';
  src: url('templates/fitness/fonts/gora-free.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('templates/fitness/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('templates/fitness/fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('templates/fitness/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('templates/fitness/fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('templates/fitness/fonts/OpenSans-Light.ttf');
}

.header {
 background: black;
 display: flex;
 justify-content: center;
 margin-bottom: 43px;
}

.container {
  /* background:#000; */
  /* margin: 0 auto;*/
  width: 1060px; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  padding: 20px 0px;
  
}

.header__name {
  /* position: absolute; */
  /* top: 31px; */
  /* left: 0;  */
  color: #f89513;
  text-decoration: none;
  font-family: 'Gora-Free';
  font-size: 18px;
  letter-spacing: 0.9pt;
  /* vertical-align: middle; */
}

.header__contacts {
  /* position: absolute;
  top: 16px;
  right: 0; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 170px;
  align-content: left;
}

.header__contacts-phone {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  text-align: left;
  font-family: 'OpenSans-Bold';
  font-size: 21px;
}

.header__contacts-business-hours {
  /* text-align: right;  */
  font-family: 'OpenSans-Bold';
  font-size: 14px;
}

.header__contacts-business-hours-link {
  color: #f89513;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: #f89513;
}

.header__contacts-business-hours-link {
  border-width: 1px;

}

nav {
  /* display: inline-block;
  position: relative;
  left: 380px;
  top: 29px;
  padding-bottom: 0; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.header__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 360px;
}

.header__navigation-list-line {
  /* display: inline-block;
  position: relative;
  width: 101px;
  height: 18px; */
  /* padding-right: 18px; */
  letter-spacing: 0.6pt;
 
  display: flex;
}

.header__navigation-list-item-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.header__navigation-list-item {
  color: #fff;
  /* display: inline-block;
  position: absolute;  */
  display: flex;
  /* left: 37px;  */
  text-transform: uppercase;
  font-family: 'OpenSans-Bold';
  font-size: 12px;
  padding-bottom: 0;
}

.header__icon {
  display: flex;
}

.header__icon--feedback {
  padding:  0px;
  display: flex;
  left: 0;
  right: 0;
  margin-right: 0px;
  padding-bottom: 0;
  transform: translateY(5%);
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}



.container-breadcrumbs {
  width: 885px;
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs__content {
  display: flex; 
}

.breadcrumbs__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  margin-right: 4px;
}

.breadcrumbs__item:after {
  content: "/";
  color: #a19f9f;
}

.breadcrumbs__item-link {
  color: orange;
  margin-right: 4px;
  font-family: 'Open Sans', sans-serif;
}

.breadcrumbs__item:last-child .breadcrumbs__item-link {
  color: #a19f9f;
  text-decoration: none;
}

.breadcrumbs__item:last-child:after {
content: "";
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom:34px;
}

.services{
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.container-services-description {
  width: 885px;
  display: flex;
  flex-direction: column;
}

.services__header {
  display: flex;
  flex: 1;
  font-family: "OpenSans-Bold";
  font-size: 49px;
  color: #000;
  background: none;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 0.74pt;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  display: flex;
  flex-direction: column;
  /*  max-width: 250px; */
  width: calc(100% / 3 - 45px); 
  margin-bottom: 46px;
}

.services__avatar-block {
max-width: 250px;
}

.services__avatar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 28px;
}

.services__avatar img {
  /* max-width: 250px; */
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(52%)
}

.services__avatar-header {
margin: 0;
padding: 0;
position: absolute;
color: #fff;
font-size: 24px;
text-transform: uppercase;
font-family: "OpenSans-Bold";
letter-spacing: 0.36pt;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.services__description-header {
  margin-bottom: 12px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
}

.services__description {
  font-family: "OpenSans-Light";
  font-size: 14px;
}










.partners{
  display: flex;
  flex-direction: column;
}

.container-services-partners {
  width: 885px;
  display: flex;
  flex-direction: column;
}

.partners__header {
  display: flex;
  flex: 1;
  font-family: "OpenSans-Bold";
  font-size: 49px;
  color: #000;
  background: none;
  margin-bottom: 87px;
  text-transform: uppercase;
  letter-spacing: 0.74pt;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 250px;
  margin-bottom: 50px;
  filter: grayscale(100%)
}


.partners__item:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 250px;
  margin-bottom: 50px;
  filter: grayscale(0%)
}

.pager {
  /* margin-bottom: 75px; */
  /* background: #f89513; */
  display: flex;
  justify-content: center;
}

.container-pager {
  /* display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: center; */
  width: 1060px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager__content {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%); */
  /* width: 600px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
}

.pager__pages {
  font-family: 'Roboto', sans-serif;
  color: rgb(34 31 31);
  font-weight: 700;
  /* display: inline-block;
  position: absolute; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 20px; */
  
}

.pager__description {
  /* text-align: center; */
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgb(101 100 100);
  /* margin-right: 20px; */
  /* display: inline-block;
  position: absolute;
  transform: translate(90%, 25%);
  left: 0px; */
  display: flex;
  padding-top: 2px;

}

.pager__button-preview-lt {
  /* left: 0px; */
  text-decoration: none;
  color: rgb(101 100 100);
  margin-right: 10px;
  /* display: inline-block;
  position: absolute;
  transform: translateY(10%) */
  display: flex;
} 

.pages__list {
  list-style: none;
  color: rgb (34 31 31);
  font-weight: 700;
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
  /* right: 0px; */
  display: flex;
}

.pager__button-preview-gt {
  /* display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px; */
  text-decoration: none;
  color: rgb(101 100 100);
  /* display: inline-block;
  transform: translateY(10%) */
  display: inline-block;
} 

.pagination__link {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 700;
  /* display: inline-block; */
  display: flex;
  background: white;
  border-radius: 10%;
}

.pagination__link:hover {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 700;
  /* display: inline-block;
  transform: translate(0%, 0%); */
  display: flex;
  background: black;
  border-radius: 10%;
}

ul.pages__list li {
  /* display: inline-block; */
  display: flex;
  align-items: center;
}

ul.pages__list li a {
  padding: 6px 8px 4px 8px;
  margin-right: 0px;
}

.pages__item {
  /* display: inline-block; */
  display: flex;
  /* text-align: center; */
  /* margin-right: -2px;
  margin-left: -2px; */
}

.pages-one {
  color: #fff;
}

.footer {
  background: black;
  display: flex;
  justify-content: center;
}

.container-footer {
  /* position: relative;
  margin: 0 auto;
  width: 1060px;
  height: 85px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  padding: 20px 0px;
}

.footer__copyright {
  /* display: inline-block;
  position: absolute; */
  display: flex;
  flex-basis: 240px;
  /* max-width: 100%;
  top: 14px; */
}

.footer__copyright-text {
  font-family: 'OpenSans-Light', sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: left;
  line-height: 18px;
  /* display: inline-block; */
 
  margin: 0px;
}

.footer__copyright-link {
  max-width: 100%;
  font-family: 'OpenSans-Light', sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: left;
  line-height: 18px;
  display: inline-block;
  margin: 0px;
}

.footer__copyright-link b {
  font-weight: 700;
  text-decoration: underline;
}

b.footer__copyright {
  font-weight: 700;
}

.container-name-social-footer {
  /* display: inline-block;
  position: absolute;
  right: 0px;
  width: 610px;
  min-height: 85px; */
  display: flex;
  padding: 0px;
  width: 610px;
  justify-content: space-between;
  align-items: center;
}


.footer__header-name {
  color: #f89513;
  text-decoration: none;
  font-family: 'Gora-Free';
  font-size: 18px;
  letter-spacing: 0.9pt;
  vertical-align: middle;
  display: flex;
}

.container-social-footer {
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__social-media-header h5 {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
  line-height: 14px;
  letter-spacing: -0.00em
}

.footer__social-media {
  display: flex;
}

.footer__social-media-list {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.footer__social-media-list-item {
  /* display: inline-block;
  position: relative; */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(208 208 208);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer__social-media-pic {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 0;
  padding: 0;
}

.footer__social-media-list-item:hover {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: orange;
}


